<div class = "container-fluid">
  <%= form_for [@neighborhood, @listing] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.label :gender %>
    <%= f.text_field :gender %>

    <%= f.label :description %>
    <%= f.text_field :description, :size => 65 %>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>

    <%= f.submit %>
  <% end %>
</div>
