<h1>Listings
</h1>
<table class="listing">
  <tr>
    <th><%= link_to "Name", :sort => "name" %></th>
    <th><%= link_to "Age", :sort => "age" %></th>
    <th><%= link_to "Gender", :sort => "gender" %></th>
    <th><%= link_to "About Me", :sort => "aboutme" %></th>
  </tr>

  <tr>
    <td><%= @listing.name %></td>
    <td><%= @listing.age %></td>
    <td><%= @listing.gender %></td>
    <td><%= @listing.description %></td>
    <%= image_tag(@listing.photo_url, class: "listing-photo") %>
  </tr>
</table>

<%= link_to "edit listing", edit_neighborhood_listing_path(@neighborhood, @listing) %>
