<div class = "container">
  <div class = "row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= link_to "Back to #{@neighborhood.title} Listings", neighborhood_path(@neighborhood, @listing) %></div>
      <div class="panel-body">
        <p></p>
      </div>


      <table class="table">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>About Me</th>
        </tr>
        <tr>
          <td><%= @listing.name %></td>
          <td><%= @listing.age %></td>
          <td><%= @listing.gender %></td>
          <td><%= @listing.description %></td>
          <td><%= image_tag(@listing.photo_url, class: "listing-photo") %></td>
        </tr>
      </table>
      <% if current_user.id == @listing.user_id %>
      <%= link_to "edit listing", edit_neighborhood_listing_path(@neighborhood, @listing) %>
      <% else %>

      <% end %>
    </div>
  </div>
