
<div>
  <h1><%= @listing.name %></h1>
  <h2><%= @listing.age %></h2>
  <h2><%= @listing.gender %></h2>
  <p><%= @listing.description %></p>
  <%= image_tag(@listing.photo_url, class: "listing-photo") %>
</div>

<%= link_to "edit listing", edit_neighborhood_listing_path(@neighborhood, @listing) %>
