

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>About Me</th>
  </tr>

    <tr>
      <td><%= @listing.name %></td>
      <td><%= @listing.age %></td>
      <td><%= @listing.gender %></td>
      <td><%= @listing.description %></td>
      <%= image_tag(@listing.photo_url, class: "listing-photo") %>
    </tr>

</table>
<%= link_to "edit listing", edit_neighborhood_listing_path(@neighborhood, @listing) %>
