<h1><%= @neighborhood.title %></h1>
<h1><%= @neighborhood.description %></h1>
<%= link_to "Add listing (+)".html_safe, new_neighborhood_listing_path(@neighborhood) %>

<div>
  <% @neighborhood.listings.each do |listing| %>
  <h1><%= link_to(listing.name, neighborhood_listings_path(@neighborhood, listing))
   %><h1>
     <%= image_tag(listing.photo_url, class: "listing-photo") %>
  <% end %>
</div>
